main {
  min-height: 100dvh;
  padding: 10px 0;
  background-image: url("/assets/ecurie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-home {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

h1 {
  color: #fff;
  background-color: #00000064;
  padding: 10px;
  border-radius: 10px;
}

h3 {
  text-decoration: underline 2px;
}

#code-game {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  #game-container {
    flex-direction: column;
  }

  #stats {
    margin: 0 auto;
    max-width: none;
  }
}

@media screen and (max-width: 640px) {
  #finish-line {
    width: 40px;
  }

  .horses {
    padding-right: 40px;
  }
}

@keyframes gallop {
  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(10deg);
  }
}
